@charset "UTF-8";
/* CSS Document */

.header
{
	background-color:gold;
	color: green;
	padding: 20px 20px;
	margin-bottom: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 10px;
    background-color: #dddddd;
}
.nav
{
	background-color: #ccc;
	padding: 1em 2em;
	margin-bottom: 1em;
}

.prices,.service,.cards
{
	float: left;
	background-color:green;
	color: yellow;
	margin-bottom: 1em;
	margin-left: 3%;
}

.prices { width: 30%; }
.service { width: 30%; }
.cards { width: 30%; }

.footer
{
	clear: both;
	padding: 20px 20px;
	background-color: yellow;
}
.content {
	padding: 10px 0;
}

.content ul, .content ol {
	padding: 0 15px 15px 40px;
}

@media (max-width: 22em) {
   body {
      font-size: .18px;
      padding: 0 30px;
    }
}
