@charset "UTF-8";
/* CSS Document */


header {
  width:100%;
  text-align:center;
  color:green;
  padding: 50px 0px;
  font-size:14px;
  background-color:grey;

}

h1 {
    font-size: 70px;
  }
  img {
    margin: 40px 0px 0px 0px;
    border: 7px solid green;
    border-radius: 20px;
  }

body {
    background-image: url('http://i.imgur.com/ip3oHxD.jpg');
    background-color: #cccccc;
	background-repeat: no-repeat;
	background size: cover;
}
ul {
    list-style-type:
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display:inline;
    padding: 0px 10px 0px 10px;
  }

li a {
    display: block;
    padding: 10px;
    background-color: #dddddd;
}

@media (min-width:400px) and (max-width:800px){
  div {
     background-color:white;
     text-align: inherit;
   }
@media not screen, screen and (max-width:400px;){
  nav, .ad {
    display:none;
  }

a {
  text-decoration::none;
  color:inherit;
}

}

/*
INDIVIDUAL/BACK-TO-BACK
*/
@media (min-width: 400px) and (max-width:799px){
  div{
    color:red;
    border: 1px solid red;
  }
}
@media (min-width:800px)and (max-width:1199px){
  div{
    color:red;
    border-radius: 5px;
  }
}
@media (min-width:1200px){
div{
    color:orange;
    border-radius: 10px;
  }
}
